{% extends "::base.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@LJTrToolRegistrationBundle/Resources/public/js/confirm.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block title %}Anmelderollen{% endblock %}

{% block body %}
<h1>Übersicht Anmelderollen</h1>
    <table class="table table-hover">
        <tr>
            <th>Rolle</th>
            <th style="text-align: right">
                <form method="GET" action="{{ path('role_new') }}" accept-charset="UTF-8" style="display:inline">
                    <button class="btn btn-xs btn-success" type="submit">
                        <i class="glyphicon glyphicon-plus"></i> Neu
                    </button>
                </form>
            </th>
        </tr>
    {% for role in roles %}
        <tr>
            <td><a href="{{ path('role_show', {'roleId': role.roleId}) }}">{{ role.displayName|e }}</a></td>
            <td style="text-align: right">
                <form method="GET" action="{{ path('role_edit', {'roleId': role.roleId}) }}" accept-charset="UTF-8" style="display:inline">
                    <button class="btn btn-xs btn-primary" type="submit">
                        <i class="glyphicon glyphicon-pencil"></i> Ändern
                    </button>
                </form>
                <form method="GET" action="{{ path('role_delete', {'roleId': role.roleId}) }}" accept-charset="UTF-8" style="display:inline">
                    <button class="btn btn-xs btn-danger" type="button" data-toggle="modal" data-target="#confirmDelete" data-title="Rolle löschen" data-message="Möchtest du die Rolle {{ role.displayName }} wirklich löschen?">
                        <i class="glyphicon glyphicon-trash"></i> Löschen
                    </button>
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}


