{% extends "::base.html.twig" %}

{% block title %}LJTrToolRegistrationBundle:Registration:index{% endblock %}

{% block body %}
    <h1>Übersicht Anmeldungen für Veranstaltung {{ event.eventName|e }}</h1>
    <table class="table table-hover">
        <tr>
            <th>ID</th>
            <th>Veranstaltung</th>
            <th>Rolle</th>
            <th>Person</th>
        </tr>
        {% for registration in registrations %}
            <tr>
                <td><a href="{{ path('registration_show', {'registrationId': registration.registrationId, 'eventLinkName': event.eventLinkName }) }}">Registration {{ registration.registrationId }}</a></td>
                <td>{{ event.eventName|e }}</td>
                <td>{{ registration.roleApproval.role.displayName|e }}</td>
                <td>
                    {{ registration.person.firstname|e }} {{ registration.person.name|e }}
                    ({{ registration.person.division.divisionName| default("-") }})
                </td>

            </tr>
        {% endfor %}
    </table>
{% endblock %}
