{% extends "::base.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@LJTrToolRegistrationBundle/Resources/public/js/confirm.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block title %}Anforderungen{% endblock %}

{% block body %}
<h1>Übersicht Anforderungen</h1>
    <table class="table table-hover">
        <tr>
            <th>Anforderung</th>
            <th style="text-align: right">
                <form method="GET" action="{{ path('condition_new') }}" accept-charset="UTF-8" style="display:inline">
                    <button class="btn btn-xs btn-success" type="submit">
                        <i class="glyphicon glyphicon-plus"></i> Neu
                    </button>
                </form>
            </th>
        </tr>
    {% for condition in conditions %}
        <tr>
            <td><a href="{{ path('condition_show', {'conditionId': condition.conditionId}) }}">{{ condition.displayName|e }}</a></td>
            <td style="text-align: right">
                <form method="GET" action="{{ path('condition_edit', {'conditionId': condition.conditionId}) }}" accept-charset="UTF-8" style="display:inline">
                    <button class="btn btn-xs btn-primary" type="submit">
                        <i class="glyphicon glyphicon-pencil"></i> Ändern
                    </button>
                </form>
                <form method="GET" action="{{ path('condition_delete', {'conditionId': condition.conditionId}) }}" accept-charset="UTF-8" style="display:inline">
                    <button class="btn btn-xs btn-danger" type="button" data-toggle="modal" data-target="#confirmDelete" data-title="Rolle löschen" data-message="Möchtest du die Anforderung {{ condition.displayName }} wirklich löschen?">
                        <i class="glyphicon glyphicon-trash"></i> Löschen
                    </button>
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}


